@font-face {
  font-family: 'freightsans';
  src: url('fonts/freightsans_bold-webfont.eot');
  src: url('fonts/freightsans_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/freightsans_bold-webfont.woff2') format('woff2'),
    url('fonts/freightsans_bold-webfont.woff') format('woff'),
    url('fonts/freightsans_bold-webfont.ttf') format('truetype'),
    url('fonts/freightsans_bold-webfont.svg#freightsans_boldregular') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'freightsans';
  src: url('fonts/freightsans_medium-webfont.eot');
  src: url('fonts/freightsans_medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/freightsans_medium-webfont.woff2') format('woff2'),
    url('fonts/freightsans_medium-webfont.woff') format('woff'),
    url('fonts/freightsans_medium-webfont.ttf') format('truetype'),
    url('fonts/freightsans_medium-webfont.svg#freightsans_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'jubilat';
  src: url('fonts/jubilatmedium-roman-webfont.eot');
  src: url('fonts/jubilatmedium-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/jubilatmedium-roman-webfont.woff2') format('woff2'),
    url('fonts/jubilatmedium-roman-webfont.woff') format('woff'),
    url('fonts/jubilatmedium-roman-webfont.ttf') format('truetype'),
    url('fonts/jubilatmedium-roman-webfont.svg#jubilat_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

:root {
  orange: #EA504E;
  lightorange: #F55B5B;
  blue: #147FD7;
  lightblue: #8ABFEB;
  lightgray: #F1F1F1;
}

html {
  height: 100%;
}

body {
  font-family: jubilat;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#container {
  height: 100%;
}

h1 {
  margin: auto;
  width: 100%;
  text-align: center;
  text-shadow: 0.5px 0.5px 0.5px #8ABFEB;
  font-size: 4em;
  color: #147FD7;
}

.navbar {
  width: 100%;
  margin: 2rem auto;
}

div.video {
  margin: 2rem auto;
  margin-bottom: 0;
  width: 100%;
  /*max-width: 420px;*/
  text-align: center;
  border-style: ridge;
  padding: 3rem 0;
}

div.row {
  height: 100%;
}

div.footer {
  padding-top: 2em;
}

div.footer-section {
  font-size: 3em;
  height: 100%;
  line-height: 100%;
  color: #EA504E;
  text-align: center;
  vertical-align:
}

div.footer-section:hover {
  cursor: pointer;
  color: #F55B5B;
  text-shadow: 0.5px 0.5px 0.5px #F55B5B;
}

div.footer-section:first-child {
  border: none;
}

div.left {
  float: left;
}

div.right {
  float: right;
}

div.links {
  margin: auto;
  height: 5em;
  width: 28%;
  font-size: 2em;
  text-align: center;
}
